/**
* All Rights Reserved
* This software is property information of AKUREY S.A.
* Contact us at contact@akurey.com
* @summary scss with styling/mixins for grid an flex
*/
@mixin grid-format( $columns, $gap:0) {
    display: grid;
    grid-template-columns: $columns;
    column-gap: $gap;

}

@mixin flex-format($justify:flex-start, $alignItem:stretch, $alignCont:stretch) {
    display: flex;
    justify-content: $justify;
    align-items: $alignItem;
    align-content: $alignCont;
}